body {
    background-color:antiquewhite;
    margin: 0;
    height: 400;
    width: 200px;
    overflow: hidden;
}

#counterLayout {
    background-color: black;
    position: relative;
    height: inherit;
    width: 120px;
    top: 40px;
    padding: 15px;
    margin: auto;
    color: white;
    border: 6px solid rgba(255, 255, 255, 0.644);
    border-radius: 5px;
    text-align: center;
}

button {
    position: bottom;
    background-color: bisque;
    color: red;
    margin-top: 12px;
    border: 6px solid gray;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}
