body {
    background-color: aqua;
    font-family: sans-serif;
}

footer {
    max-width: 641px;
    margin: auto;
    background-color: bisque;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container{
    max-width: 600px;
    margin: 0 auto ;
    background-color: black;
    color: white;
    padding: 20px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

button {
    background-color: white;
    width: 25px;
    height: 25px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-transform: capitalize;

}

#addItemButton{
    background-color: green;
    color: white;
}

#addItemButton:hover {
    background-color: white;
    color: black;
}

.material-symbols-outlined {
    vertical-align: middle; /* Vertikal in der Mitte*/
}

#addItemLayout {
   display: flex; 
   justify-content: center; /* Waagerecht in der Mitte*/
}

#addItemInput {
    display: inline-block;  /* Inhalt kann länger sein*/
    padding: 0 0 0 5px; /* Inhaltsabstand 5px zum linken Rand*/
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 0;
    width: 250px;
    height: 25px;
}