body {
    background-color: aqua;
}

footer {
    max-width: 500px;
    margin: auto;
    background-color: bisque;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container{
    max-width: 500px;
    margin: 0 auto ;
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

button {

}

#addItemButton{
    background-color: green;
    color: white;
    margin: 10px;
}

